/* Desktop Navigation */
.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3rem;
}

.navbar a {
  color: var(--text);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  transition: var(--transition);
  position: relative;
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primary);
  transition: var(--transition);
}

.navbar a:hover::after,
.navbar a.active::after {
  width: 100%;
}

.navbar a:hover,
.navbar a.active {
  color: var(--primary);
}

.nav-cta {
  background: var(--primary);
  color: #000 !important;
  padding: 1rem 2rem !important;
  border-radius: 3rem;
  font-weight: 600;
}

.nav-cta:hover {
  background: var(--primary-dark);
  transform: translateY(-2px);
  box-shadow: var(--shadow);
}

.nav-cta::after {
  display: none;
}

/* MOBILE RESPONSIVE NAV*/
@media (max-width: 990px) {
  .header {
    padding: 1rem 5%;
  }

  #menu-btn {
    display: flex;
  }

  #theme-toggle {
    margin: 0 1rem;
  }

  .navbar {
    position: fixed;
    top: 60px;
    right: -100%;
    width: 280px;
    height: calc(100vh - 61px);
    background: var(--nav-bg);
    padding: 2rem;
    transition: 0.4s ease;
    border-left: 2px solid var(--primary);
    border-bottom: 1px dashed var(--primary);
    border-top: 1px dashed var(--primary);
    box-shadow: -5px 0 30px var(--shadow);
  }

  .navbar.active {
    right: 0;
  }

  .navbar ul {
    flex-direction: column;
    gap: 2rem;
    align-items: start;
  }

  .navbar li {
    width: 100%;
  }

  .navbar a {
    display: block;
    padding: 1rem;
    font-size: 1.8rem;
  }

  .navbar a::after {
    bottom: 0;
  }

  .nav-cta {
    text-align: center;
  }
}