*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
    header {
      background: #4c6ef5;
      padding: 20px;
      color: white;
      font-size: 86px;
      text-align: center;
      font-weight: bold;
      letter-spacing: 10px;
    }
    
    .navbar{
      position: absolute
    }

    .social-media{
      text-align: center;
      display: flex;
      border : 1px solid green;
      border-radius: 40px;
      width: 90%;
      position: relative;
      padding: 10px;
      margin-top: 20px;
      justify-content: space-evenly;
      flex-wrap: wrap-reverse;
      align-self: center;
    }
    .social-media .link {
      border: 1px dotted #4c6ef5;
      margin: 4px 4px;
      font-size: 20px;
      color: #333;
    }

    .social-media .social:hover {
  color: #005bb5;
  text-decoration : underline;

}

  body {
      font-family: Arial, sans-serif;
      
      background-color: lightblue;
    
      position: relative;
      width: 100%;
      height: 100%;
    } 
    /* .p {
      text-align: center;
      font-size: 20px;
      margin: 20px;
    } */

    .logo {
      
      display: flex;
      text-align: center;
      border : 1px solid #4c6ef5;
      border-radius: 40px;
      max-width: 100%;
      animation: swing 30.5s ease-in-out infinite;
      transform-origin: top center;
      padding: 5px;
      margin:10px;
      margin-top:80px;
      margin-bottom:80px;

      /*animation-name: swing;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;
      animation-delay: 0s;
      animation-fill-mode: both;
      animation-play-state: running;*/

    }
    .logo img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 40px;
}


    .logo:hover{
      animation-play-state: paused;
    }


    @keyframes swing {
  0%   { transform: rotate(15deg); }
  10%  { transform: translate(100px, 50px) rotate(-8deg); }
  20%  { transform: translate(100px, 100px) rotate(8deg); }
  30%  { transform: translate(50px, 50px) rotate(-8deg); }
  40%  { transform: translate(100px, 100px) rotate(8deg); }
  50%  { transform: rotate(0deg); }
  60%  { transform: translate(-100px, -100px) rotate(-8deg); }
  70%  { transform: translate(-50px, -50px) rotate(8deg); }
  80%  { transform: translate(-50px, -100px) rotate(-8deg); }
  90%  { transform: translate(-100px, -100px) rotate(8deg); }
  100% { transform: rotate(15deg); }
}
    
    .container {
      padding: 20px;
      max-width: 900px;
      margin: auto;
    }

    .video-container {
      margin: auto;
      border: 2px solid #4c6ef5;
      border-radius: 15px;
      padding: 10px;
      width: 320px;
      height: auto;
    } 


    fieldset {
      width:50%;
      height:10%;
      border: 1px solid #4c6ef5;
      padding: 3px;
      border-radius: 20px;
      margin-bottom: 5px;
      }

    input, select, textarea {
      padding: 10px;
      width: 95%;
      margin-top: 5px;
      border: 1px solid #d5c0c0;
      border-radius: 5px;
    }
   
    input[type=submit], input[type=reset] {
      width: 140px;
      cursor:default;
      border: 2px;
      border-radius: 5px;
      margin: 10px;
    }

    input[type=submit] { background: #4c6ef5; color: white; }
    input[type=submit]:hover { background: #3653c9; }
    input[type=reset] { background: #5b2fd3; color: white; }
    input[type=reset]:hover { background: #2737a1; }

    h1, h2, h3, h4 {
      text-decoration:solid;
      text-align: center;
      font: size 80px;       
    }

    ul { margin: 0 0 20px 20px; }

    table {
      width: 100%;
      border-collapse: collapse;
      background: #fff;
      font-style: italic;
      margin: 20px;

    }

    th, td {
      padding: 12px;
      border: 2px solid #333;
      text-align: left;
    }

    th {
      background: #4c6ef5;
      color: white;
    }

    tr:hover { background: #e0ebff; }



    .a {
      margin-top: 50px;
      text-align: center;
      font-size: 20px;
    }

    .a div {
      margin: 12px 0;
      padding: 12px;
      background: #4c6ef5;
      color: white;
      border-radius: 8px;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      transition: transform 0.3s, background 0.3s;
      cursor: pointer;
    }

    .a div:hover {
      transform: scale(1.1);
      background: #3653c9;
    }

    footer {
      background: #222;
      padding: 35px;
      color: white;
      text-align: center;
      position: absolute;
      bottom:0px;
      left: 0px;
      right: 0px;
    }

    a.social:hover { color: #3653c9; }
  